In [35]:
import pandas as pd
df = pd.read_csv('reviews_cronos_groep.csv')
df.head()

,_id,company,date,opinion,rating,source
0,626bd53ad10793287c3acc02,your oxygen,14/02/2015,December 2014 ben ik bij Your Oxygen ingeschre...,4.2,facebook
1,626bd53ad10793287c3acc03,ARXUS INC.,29/04/2018,Custom professional IT solutions.,5.0,google
2,626bd53ad10793287c3acc04,ARXUS INC.,29/04/2017,Belgian cloud at its best!,5.0,google
3,626bd53ad10793287c3acc05,ARXUS INC.,29/04/2018,Fast growing company with motivated people. K...,5.0,google
4,626bd53ad10793287c3acc06,ASTENA,2021-10-29,Ok,5.0,google

In [36]:
from textblob import TextBlob
import math
rating =[]
sentiment = []
rating_sentiment =[]
for ind in df.index:
     text = df['opinion'][ind]

     blob = TextBlob(text)
     score = blob.sentiment.polarity# -1 negatief 1 positief
     rating.append(score)
     if score == 0:
         sentiment.append('neutral')
     if score > 0:          
        sentiment.append('positive')
     if score < 0:
        sentiment.append("negative")
       
     
         
for ind in df.index:
     text = df['rating'][ind]
     text1 = df['source'][ind]
     if text >= 3:
           rating_sentiment.append('positive')
     if text1 == "beyondgaming":
           rating_sentiment.append("NaN")
     if text < 3:
           rating_sentiment.append('negative')
         

df['score_sentiment'] = sentiment
df['score'] = rating
df['rating_sentiment'] = rating_sentiment
df.head()

,_id,company,date,opinion,rating,source,score_sentiment,score,rating_sentiment
0,626bd53ad10793287c3acc02,your oxygen,14/02/2015,December 2014 ben ik bij Your Oxygen ingeschre...,4.2,facebook,positive,0.033333,positive
1,626bd53ad10793287c3acc03,ARXUS INC.,29/04/2018,Custom professional IT solutions.,5.0,google,positive,0.100000,positive
2,626bd53ad10793287c3acc04,ARXUS INC.,29/04/2017,Belgian cloud at its best!,5.0,google,positive,1.000000,positive
3,626bd53ad10793287c3acc05,ARXUS INC.,29/04/2018,Fast growing company with motivated people. K...,5.0,google,positive,0.250000,positive
4,626bd53ad10793287c3acc06,ASTENA,2021-10-29,Ok,5.0,google,positive,0.500000,positive

In [52]:
rating_100 =[]
score_100 =[]
for ind in df.index:
     text1 = df['score'][ind]
     text1 = float(text1)
     if text1 >= -1:
             score_100.append(0)
     elif 0 > text1 > -1:
             score_100.append(25)
     elif text1 ==0:
             score_100.append(50)
     elif 1< text1 > 0:
             score_100.append(75)
     elif  text1 >= 1:
             score_100.append(100)
     else:
               print(text1)

             
for ind in df.index:
     text = df['rating'][ind]
     text3 = df['source'][ind]
     
   
     if 2 > text >= 1:
             rating_100.append(0)
     elif 3 > text >= 2:
             rating_100.append(25)
     elif 4 >text >= 3:
             rating_100.append(50)
     elif 5> text >= 4:
             rating_100.append(75)
     elif  text >= 5:
             rating_100.append(100)
     else:
            rating_100.append("nan")

In [53]:
len(score_100)

380

In [54]:
len(score_100)

380

In [55]:
for a in score_100:
    print(a)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [41]:
df['rating op 100'] = rating_100
df['score op 100'] = score_100

ValueError: Length of values (76) does not match length of index (380)

In [ ]:
df.to_csv('reviews_cronos_groep3.csv', mode='a', header=True,index=False)
import pandas as pd
df = pd.read_csv('reviews_cronos_groep.csv')
pd.set_option("display.max_rows", None)