In [52]:
import pandas as pd
df = pd.read_csv('reviews_cronos_groep.csv')
pd.set_option("display.max_rows", None)
df.head(4)

,_id,company,date,opinion,rating,source
0,626bd53ad10793287c3acc02,your oxygen,14/02/2015,December 2014 ben ik bij Your Oxygen ingeschre...,4,facebook
1,626bd53ad10793287c3acc03,ARXUS INC.,29/04/2018,Custom professional IT solutions.,5,google
2,626bd53ad10793287c3acc04,ARXUS INC.,29/04/2017,Belgian cloud at its best!,5,google
3,626bd53ad10793287c3acc05,ARXUS INC.,29/04/2018,Fast growing company with motivated people. K...,5,google

In [53]:
from textblob import TextBlob
rating =[]
sentiment = []
rating_user =[]
for ind in df.index:
     text = df['opinion'][ind]
     blob = TextBlob(str(text))
     score = blob.sentiment.polarity# -1 negatief 1 positief
     rating.append(score)
     if score > 0:          
        if score >= 0.5:
            if score <0.6:
                sentiment.append('neutral')
            else:
                sentiment.append('positive')
        else:
            sentiment.append('positive')
     else:
         sentiment.append("negative")


for ind in df.index:
     text = df['rating'][ind]
     
     if  text > 2:
            rating_user.append('positive')
     else:
           rating_user.append('negative')

          

df['sentiment_score'] = sentiment
df['score'] = rating
df['rating_user'] = rating_user
pd.set_option("display.max_rows", None)

pd.set_option("display.max_rows", None)

In [54]:
df.head()

,_id,company,date,opinion,rating,source,sentiment_score,score,rating_user
0,626bd53ad10793287c3acc02,your oxygen,14/02/2015,December 2014 ben ik bij Your Oxygen ingeschre...,4,facebook,positive,0,positive
1,626bd53ad10793287c3acc03,ARXUS INC.,29/04/2018,Custom professional IT solutions.,5,google,positive,0,positive
2,626bd53ad10793287c3acc04,ARXUS INC.,29/04/2017,Belgian cloud at its best!,5,google,positive,1,positive
3,626bd53ad10793287c3acc05,ARXUS INC.,29/04/2018,Fast growing company with motivated people. K...,5,google,positive,0,positive
4,626bd53ad10793287c3acc06,ASTENA,2021-10-29,Ok,5,google,neutral,0,positive

In [62]:
df['rating'] = df['rating'].astype(str)
df.to_csv('reviews_cronos_groep2.csv', mode='a', header=False)